body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(241, 222, 168, 0.15);
    color: #9F6920;
}

header {
    background-color: rgb(218, 167, 85);
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-family: 'Playfair Display', serif;
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #454049;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    background-color: rgba(233, 197, 121, 0.61);
    text-align: center;
    padding: 60px 20px;
}

.hero h2 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
}

section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

section h2 {
    font-family: 'Playfair Display', serif;
    color: #9F6920;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 8px 0;
    font-size: 18px;
}

.galerie .images {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.galerie-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, -3fr));
  gap: 20px;
}

.galerie-images img {
  width: 100%;
  height: 358px;
  object-fit: contain;
  border-radius: 10px;
}


.image {
    background-color: rgba(233, 197, 121, 0.61);
    flex: 1;
    min-width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 8px;
}

footer {
    background-color: #DAA755;
    color: white;
    text-align: center;
    padding: 20px;
}
